@font-face {
	font-family: 'Minecraft';
	src: url(../../assets/fonts/Minecraft.woff2) format('woff2'),
	url(../../assets/fonts/Minecraft.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}